fastapi
uvicorn[standard]
slowapi
pydantic
python-dotenv
requests
cloudscraper
beautifulsoup4
whois
playwright
xgboost
scikit-learn
pandas
numpy
cryptography
tranco
python-multipart
google-generativeai
starlette
sqlitecloud
